.container-layout {

    width: 100vw;
    height: 100vh;
    display: flex;
}



.layout-nav {
    
    height: 100%;
    width: 300px;
}

.layout-nav > .container-logo{
    height: 80px;
    width: 300px;
    padding-left: 36px;
    border-bottom: 1px solid #00000047;
    display: flex;
    
}

.layout-nav > div > img {
    width: 150px;
}



.nav-list {
    padding: 20px;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}



.nav-list-item:hover {
    cursor: pointer;
    border-bottom: 1px solid rgba(4, 4, 24, 0.63);
    display: inline;
}









.layout-main {
   
    height: 100%;
    width: 100%;
}